@media (max-width: 575px) {
  h1 {
    margin: 0;
  }

  .content-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    padding-top: 100px;
  }

  .button-container {
    gap: 8px;
  }

  .logo-fullscreen {
    padding-top: 10px;
    padding-left: 10px;
    width: 100vw;
    height: 100vh;
    background-color: #2a3647;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: shrink-container 2s ease forwards;
    animation-delay: 1.2s;
    z-index: 10;
    box-sizing: border-box;
  }

  .logo {
    position: absolute;
    width: 200px;
    height: auto;
    transform: scale(1);
    transform-origin: center center;
    animation: shrink-logo 2s ease forwards;
    animation-delay: 1.2s;
  }

  .logo-old {
    display: block;
    transform: scale(1);
    opacity: 1;
    animation: shrink-logo 2s ease forwards, fade-out 2s ease forwards;
    animation-delay: 1.2s;
  }

  .logo-new {
    opacity: 0;
    transform: scale(1);
    animation: shrink-logo 2s ease forwards, fade-in 2s ease forwards;
    animation-delay: 1.2s;
  }

  @keyframes shrink-container {
    0% {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: #2a3647;
    }
    100% {
      width: 64px;
      height: 78px;
      top: 0px;
      left: 0px;
      background-color: transparent;
    }
  }


  @keyframes shrink-logo {
    0% {
      width: 200px;
      height: auto;
    }
    100% {
      width: 100px;
      height: 80%;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .content-holder > div:nth-child(3) {
    position: static;
    width: 100%;
  }

  .login-container {
    width: 90vw;
    padding: 1rem;
    box-sizing: border-box;
  }

  .sign-up-container {
    display: flex;
    justify-content: center;
    padding-top: 0;
    width: 100%;
  }

  .footer {
    gap: 16px;
  }

  .btn,
  .button-guest-login {
    font-size: 16px;
    width: 180px;
    height: 42px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .bar {
    width: 100px;
  }

  input.email,
  input.password {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {

  .logo-old {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 991px) {

  .logo-old {
    display: none;
  }
}
