@media (max-width: 575px) {
  h1 {
    margin: 0;
  }

  .content-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .logo-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a3647;
    width: 100vw;
    height: 100vh;
    inset: 0;
    transition: background 0.3s ease;
  }

  .logo-fullscreen #bigLogo {
    content: url("./assets/icons/join_white.svg");
    transition: transform 0.5s;
  }

  @keyframes fade-bg {
  0%   { background-color: #2a3647; }
  100% { background-color: transparent; }
}

  .logo-fullscreen.shrink {
    width: 100%;
    height: 150px;
    content: url("./assets/icons/join_logo_2.svg");
    background-color: transparent;
    transition: background 0.3s ease;
  }

  .logo-fullscreen.shrink #bigLogo {
  transform-origin: top left;
  transform: translate(calc(0vw - 25vw), calc(0vh - 40vh)) scale(1);
  transition: transform 1s ease-in-out;
  will-change: transform;
}

  /* .content-holder > div:nth-child(1),
  .content-holder > div:nth-child(3) {
    position: static;
    width: 100%;
  } */

  .login-container {
    width: 90vw;
    padding: 24px;
    box-sizing: border-box;
  }

  .sign-up-container {
    display: flex;
    justify-content: center;
    padding-top: 0;
    width: 100%;
  }

  .footer {
    gap: 16px;
    padding: 24px 0;
  }

  .btn,
  .button-guest-login {
    font-size: 16px;
    width: 180px;
    height: 42px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .bar {
    width: 100px;
  }

  input.email,
  input.password {
    width: 100%;
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  /* .content-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    gap: 24px;
  }

  input.email,
  input.password {
    width: 100%;
  }

  .footer {
    padding-bottom: 32px;
  } */
}

@media (min-width: 769px) and (max-width: 991px) {
  /* .logo-fullscreen.shrink {
    width: 84px;
    height: 94px;
  } */
}
