@media (max-width: 575px) {
  h1 {
    margin: 0;
  }

  .content-holder {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 110px;
  }

  .logo-fullscreen {
    width: 100vw;
    height: 100vh;
    padding-top: 0;
  }

  .logo-fullscreen.shrink {
    width: 64px;
    height: 74px;
  }

  .content-holder > div:nth-child(1),
  .content-holder > div:nth-child(3) {
    position: static;
    width: 100%;
  }

  .login-container {
    width: 90vw;
    padding: 24px;
    box-sizing: border-box;
  }

  .sign-up-container {
    display: flex;
    justify-content: center;
    padding-top: 0;
    width: 100%;
  }

  .footer {
    gap: 16px;
    padding: 24px 0;
  }

  .btn,
  .button-guest-login {
    font-size: 16px;
    width: 180px;
    height: 42px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .bar {
    width: 100px;
  }

  input.email,
  input.password {
    width: 100%;
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  .content-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    gap: 24px;
  }

  input.email,
  input.password {
    width: 100%;
  }

  .footer {
    padding-bottom: 32px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .logo-fullscreen.shrink {
    width: 84px;
    height: 94px;
  }
}