.policyContainer {
  display: flex;
  flex-direction: column;
  padding-top: 215px;
  padding-left: 328px;
  max-width: 1016px;
  margin-right: 50px;
}

a:hover {
  color: #29abe2;
}

.d_none {
  display: none;
}

.txtDeco-none {
  text-decoration: none;
}