@media (max-width: 575px) {
  .form-container-modal {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .task-container-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .prio-container-modal {
    display: flex;
    flex-direction: column;
    max-height: 382px;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
    gap: 30px;
  }

  .required-container-modal {
    width: 100%;
    max-width: 440px;
    margin-top: 50px;
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  .task-container-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .required-container-modal {
    width: 100%;
    max-width: 440px;
    margin-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .form-wrapper-modal {
    max-width: 80%;
    height: 80vh;
  }

  .task-container-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .required-container-modal {
    width: 100%;
    max-width: 440px;
    margin-top: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form-wrapper-modal {
    max-width: 960px;
    height: 70vh;
  }

  .form-container-modal {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .task-container-modal {
    display: flex;
    gap: 16px;
    width: 100%;
    margin: 0 auto;
  }

  .space-container {
    display: block;
    width: 0px;
    border: solid 1px;
    color: #d1d1d1;
  }

  .task-wrapper-modal {
    display: flex;
    flex-direction: column;
    max-height: 382px;
    width: 100%;
    max-width: 440px;
    justify-content: space-between;
    gap: 30px;
  }

  .required-container-modal {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .form-wrapper-modal {
    max-width: 960px;
    height: 70vh;
  }

  .form-container-modal {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .task-container-modal {
    display: flex;
    gap: 16px;
    width: 100%;
    margin: 0 auto;
  }

  .space-container {
    display: block;
    width: 0px;
    border: solid 1px;
    color: #d1d1d1;
  }

  .task-wrapper-modal {
    display: flex;
    flex-direction: column;
    max-height: 382px;
    width: 100%;
    max-width: 440px;
    justify-content: space-between;
    gap: 30px;
  }

  .required-container-modal {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 90%;
  }
}
