.task-h1-container {
  width: 278px;
  height: 73px;
  display: flex;
  gap: 1px;
}

.redSpan {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}

.task-title {
  display: flex;
  flex-direction: column;
  height: 96px;
  max-width: 440px;
  gap: 8px;
}

.task-title-input {
  height: 48px;
  max-width: 440px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

.task-description {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  height: 120px;
  padding-bottom: 10px;
  gap: 8px;
}

.task-description-input {
  height: 120px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

.task-date {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  height: 96px;
  gap: 8px;
}

.task-dateInput {
  padding-right: 10px;
  max-width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

.space-container {
  width: 0px;
  border: solid 1px;
  color: #d1d1d1;
}

.prio-container {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  gap: 24px;
}

.prio-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 440px;
  height: 88px;
}

.prio-button-container {
  display: flex;
  justify-content: space-between;
  max-width: 440px;
  gap: 16px;
}

.prioButtons {
  width: 136px;
  height: 56px;
  border-style: none;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.prioButtons:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.prioIcons {
  width: 20px;
  height: 14.51px;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  display: none;
}

input:invalid + .error-message {
  display: block;
}

input:valid + .error-message {
  display: none;
}

.prio-assigned-container {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  height: auto;
}

.assigned-input-wrapper {
  width: 100%;
}

.assigned-container {
  position: relative;
  width: 100%;
}

#searchUser {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.prio-assign-input {
  width: 98%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

.prio-assign-input {
  width: 100%;
  padding: 12px 40px 12px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  font-size: 16px;
  box-sizing: border-box;
}

.assignUserListBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.assignUserListBtn:hover {
  cursor: pointer;
  background: #d1d1d1;
  border-radius: 50%;
}

.prio-assign-input:hover {
  border: 1px solid #a8a8a8;
}

.assignInput {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.assigned-user-list {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  max-height: 0;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  visibility: hidden;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 14px 3px #0000000a;
  border-radius: 10px;
}

.dropdown-arrow {
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.assigned-user-list.visible ~ .assigned-container .dropdown-arrow {
  transform: rotate(180deg);
}

#assignedBtnImg {
  transition: transform 0.3s ease;
}

#assignedBtnImg.rotated {
  transform: rotate(180deg);
}

.assigned-user-list.visible {
  max-height: 230px;
  opacity: 1;
  visibility: visible;
}

.assignedInputImg {
  width: 15px;
  height: 14px;
}

.assignedInputImg:hover {
  cursor: pointer;
  background: #d1d1d1;
}

.prio-category-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 440px;
  height: 80px;
}

.prio-category-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.categoryInput {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.prio-subtask-input {
  width: 100%;
  padding: 12px 40px 12px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.taskPrioIcons {
  width: 14px;
  height: 14px;
}

.required-container {
  padding-top: 20px;
}

.create-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 110px;
  height: 56px;
  gap: 4px;
  border-radius: 10px;
  padding: 16px;
  border: 1px solid #2a3647;
  background-color: #f6f7f8;
}

.clear-button:hover {
  border: 2px solid #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.create-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 56px;
  gap: 4px;
  border-radius: 10px;
  padding: 16px;
  background: #2a3647;
  color: #ffffff;
  border: 0px;
}

.create-button:hover {
  background: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

input::placeholder {
  padding-left: 10px;
}

input[type="text"]:focus {
  border: 1px solid #29abe2;
  outline: 1px solid #29abe2;
}

textarea::placeholder {
  padding-top: 10px;
  padding-left: 10px;
}

.d_none {
  display: none;
}

.txtDeco-none {
  text-decoration: none;
}

.prioUrgentBtnActive {
  background-color: #ff3d00;
  color: white;
}

.prioUrgentBtnActive {
  background-color: #ff3d00;
  color: white;
}

.prioMediumBtnActive {
  background-color: #ffa800;
  color: white;
}

.prioLowBtnActive {
  background-color: #7ae229;
  color: white;
}

.user-dropdown div:hover {
  background-color: #c51515;
}

.selectedUserContainer {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 8px;
}

.selected-contact-chip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-width: 2px;
  border-radius: 16px;
  border: 2px solid #ffffff;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../assets/icons/arrow_drop_down.svg") no-repeat right 0.75rem
    center;
  background-size: 1rem;
  padding-right: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.subtask-wrapper {
  position: relative;
  width: 100%;
  max-width: 440px;
}

.subtask-add-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
}

.subtask-add-button:hover {
  cursor: pointer;
  background: #d1d1d1;
  border-radius: 50%;
}

.subtask-add-button img.subtaskAdd {
  width: 14px;
  height: 14px;
}

input {
  padding-left: 12px;
}

input:focus::placeholder {
  color: transparent;
}

textarea {
  padding-left: 12px;
  padding-top: 12px;
}

textarea:focus {
  padding-left: 12px;
  padding-top: 12px;
  border: 1px solid #29abe2;
  outline: 1px solid #29abe2;
}

textarea:focus::placeholder {
  color: transparent;
}

.user-checkbox-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  height: 56px;
}

.user-checkbox-wrapper.active {
  background: #2a3647;
  color: white;
  border-radius: 10px;
}

.user-checkbox-wrapper:hover {
  background: #2a3647;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.user-info-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-checkbox-wrapper.user-selected {
  background: #2a3647;
  color: white;
  border-radius: 10px;
}

.subtask-display-text {
  padding-left: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.subtask-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.subtask-display-text::before {
  transform: translateY(-50%);
}

.subtask-text-input {
  width: 100%;
  max-width: 440px;
  width: 100%;
  height: 32px;
  padding: 12px 6px 12px 6px;
  justify-content: space-between;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #29abe2;
  box-sizing: border-box;
}

.subtask-spacer {
  height: 20px;
  border-width: 1px;
  border: 1px solid #a8a8a8;
}

.subtask-spacer-second {
  height: 12px;
  border-width: 1px;
  border: 1px solid #a8a8a8;
}

.subtask-edit-wrapper {
  display: flex;
  align-items: center;
  height: 32px;
  width: -webkit-fill-available;
  padding: 0 5px 0 5px;
  gap: 8px;
  background-color: white;
  border-bottom: 1px solid #005dff;
}

.subtask-edit-wrapper input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  padding: 8px;
}

.subtask-edit-wrapper input:focus {
  outline: none;
}

.subtask-save-button,
.subtask-delete-button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  background-color: white;
  border-radius: 50%;
}

.subtask-save-button:hover,
.subtask-delete-button:hover {
  cursor: pointer;
  background: #d1d1d1;
}

.subtask-save-buttonImg,
.subtask-delete-buttonImg {
  width: 15.49px;
  height: 11.23;
}

.form-container {
  max-width: 1440px;
  width: 90%;
}

.subtask-container:hover {
  background: #eeeeee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 10px;
}

.subtask-edit-button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 50%;
}

.subtask-edit-button:hover {
  cursor: pointer;
  border-radius: 50px;
  color: #eeeeeea8;
}

.subtask-delete-buttonSecond {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 50%;
}

.subtask-delete-buttonSecond:hover {
  cursor: pointer;
}

.subtask-controls {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.subtask-button-wrapper {
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  gap: 6px;
  z-index: 2;
}

.subtask-container:hover .subtask-controls {
  display: flex;
  pointer-events: auto;
  cursor: pointer;
}

.subtask-delete-buttonImgSecond,
.subtask-edit-buttonImg {
  width: 16px;
  height: 16px;
}

.userFeedback {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a3647;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  width: 312px;
  height: 74px;
  border: 1px solid #2a3647;
  border-radius: 20px;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  opacity: 0;
}

.centerFeedback {
  animation: slideUpFadeIn 0.6s ease-out forwards;
}

@keyframes slideUpFadeIn {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 40%;
    opacity: 1;
  }
}
