p {
  margin: 0;
  font-weight: 200;
  size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.taskh1Container{
    width: 278px;
    height: 73px;
    position: absolute;
    top: 206px;
    left: 328px;
    gap: 1px;
}

.taskContainer {
  position: absolute;
  width: 440px;
  height: 376px;
  top: 327px;
  left: 328px;
}

.taskTitle {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 96px;
  gap: 8px;
}

.taskTitleInput{
    width: 440px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.taskDescription {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 168px;
  gap: 8px;
}

.taskDescriptionInput{
    width: 440px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.taskDate {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 96px;
  top: 296px;
  left: 0.25px;
  gap: 8px;
}

.taskDateInput{
    width: 440px;
    height: 96px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.spaceContainer {
  position: absolute;
  width: 0px;
  height: 424px;
  top: 327px;
  left: 816.25px;
  border: solid 1px;
  color: #d1d1d1;
}

.prioContainer {
  position: absolute;
  width: fixed(440px);
  height: fixed(400px);
  top: 327px;
  left: 864.25px;
  gap: 24px;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    display: none;
}

input:invalid+.error-message {
    display: block;
}

input:valid+.error-message {
    display: none;
}
