/* TaskContent */
.taskh1Container {
  width: 278px;
  height: 73px;
  position: absolute;
  top: 206px;
  left: 328px;
  display: flex;
  gap: 1px;
}

.taskContainer {
  position: absolute;
  width: 440px;
  height: 376px;
  top: 327px;
  left: 328px;
}

.taskTitle {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 96px;
  gap: 8px;
}

.taskAddBoardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50vw;
  left: 50vh;
  gap: 10px;
  width: 326px;
  height: 74px;
  background-color: #2a3647;
  box-shadow: 0px 0px 4px 0px #00000026;
  border-radius: 20px;
  color: #ffffff;
}

.taskTitleInput {
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

.taskDescription {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 168px;
  gap: 8px;
}

.taskDescriptionInput {
  width: 440px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

.spaceContainer {
  position: fixed;
  width: 0px;
  height: 424px;
  top: 327px;
  left: 816.25px;
  border: solid 1px;
  color: #d1d1d1;
}

.prioContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 400px;
  top: 327px;
  left: 864.25px;
  gap: 24px;
}

.prioContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 440px;
  height: 88px;
}

.prioButtonContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.prioButtons {
  width: 136px;
  height: 56px;
  border-style: none;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.prioButtons:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.prioIcons {
  width: 20px;
  height: 14.51px;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  display: none;
}

input:invalid + .error-message {
  display: block;
}

input:valid + .error-message {
  display: none;
}

.prioAssignedContainer {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: auto;
}

.assignedInputWrapper {
  position: relative;
  width: 100%;
}

.prioAssignInput {
  width: 100%;
  padding: 12px 40px 12px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  font-size: 16px;
  box-sizing: border-box;
}

.prioAssignInput:hover {
  border: 1px solid #a8a8a8;
}

.assignInput {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.assigned-user-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  display: none;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.assigned-user-list.visible {
  display: block;
}

.assignedInputImg {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
}

.assignedInputImg:hover {
  cursor: pointer;
  background: #d1d1d1;
}

.prioCategoryContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 440px;
  height: 80px;
}

.prioCategoryInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.categoryInput {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.prioSubtaskInput {
  padding: 0;
  width: 100%;
  height: 40px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.subtaskInput {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.taskPrioIcons {
  width: 14px;
  height: 14px;
}

.requiredContainer {
  width: 170px;
  height: 27px;
  position: fixed;
  top: 810px;
  left: 328px;
}

.createContainer {
  display: flex;
  gap: 16px;
  width: 309px;
  height: 56px;
  position: fixed;
  top: 810px;
  left: 995.25px;
}

.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 110px;
  height: 56px;
  gap: 4px;
  border-radius: 10px;
  padding: 16px;
  border: 1px solid #2a3647;
  background-color: #f6f7f8;
}

.clearButton:hover {
  border: 2px solid #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.createButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 56px;
  gap: 4px;
  border-radius: 10px;
  padding: 16px;
  background: #2a3647;
  color: #ffffff;
  border: 0px;
}

.createButton:hover {
  background: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

input::placeholder {
  padding-left: 10px;
}

input[type="text"]:focus {
  border: 1px solid #29abe2;
  outline: 1px solid #29abe2;
}

textarea::placeholder {
  padding-top: 10px;
  padding-left: 10px;
}

.d_none {
  display: none;
}

.txtDeco-none {
  text-decoration: none;
}

.prioUrgentBtnActive {
  background-color: #ff3d00;
  color: white;
}

.prioUrgentBtnActive {
  background-color: #ff3d00;
  color: white;
}

.prioMediumBtnActive {
  background-color: #ffa800;
  color: white;
}

.prioLowBtnActive {
  background-color: #7ae229;
  color: white;
}

.user-dropdown div:hover {
  background-color: #c51515;
}

.selectedUserContainer {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 8px;
}

.selected-contact-chip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-width: 2px;
  border-radius: 16px;
  border: 2px solid #ffffff;
}

select {
  appearance: none; /* für moderne Browser */
  -webkit-appearance: none; /* für Safari/Chrome */
  -moz-appearance: none; /* für Firefox */
  background: url("../assets/icons/arrow_drop_down.svg") no-repeat right 0.75rem
    center;
  background-size: 1rem;
  padding-right: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#subtaskList {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  color: #2a3647;
}

.subtaskAddContainer {
  max-width: 100%;
  position: relative;
}

.subtaskAddButton {
  position: absolute;
  right: 10px;
  top: 50%;
  padding: 5px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.subtaskAddButton:hover {
  cursor: pointer;
  background: #d1d1d1;
  border-radius: 50%;
}

.subtaskAddButton img.subtaskAdd {
  width: 14px;
  height: 14px;
}

input {
  padding-left: 12px;
}

input:focus {
  padding-left: 12px;
}

input:focus::placeholder {
  color: transparent;
}

textarea {
  padding-left: 12px;
  padding-top: 12px;
}

textarea:focus {
  padding-left: 12px;
  padding-top: 12px;
  border: 1px solid #29abe2;
  outline: 1px solid #29abe2;
}

textarea:focus::placeholder {
  color: transparent;
}

/* Calender */
.datepicker-wrapper {
  position: relative;
  display: inline-block;
  padding: 12px 40px 12px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  font-size: 16px;
  box-sizing: border-box;
}

#customDateInput {
  padding-left: 0;
  border: 0;
}

#calendarIcon {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.calendar {
  position: absolute;
  top: 110%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.calendar.hidden {
  display: none;
}

.calendar button {
  width: 30px;
  height: 30px;
  margin: 2px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
}

.calendar button:hover {
  background-color: #007bff;
  color: white;
}

.taskDate {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 96px;
  top: 296px;
  left: 0.25px;
  gap: 8px;
}
