body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f6f7f8;
  overflow-x: hidden;
}

/* HEADER */
.headerStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 96px;
  padding: 20px 40px 20px 348px;
  box-shadow: 0px 4px 4px 0px #0000001a;
  background-color: #ffffff;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  width: 100%;
  max-width: 1440px;
}

.profileContainer {
  width: 104px;
  height: 56px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.helpContainer {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.helpIcon {
  width: 20px;
  height: 20px;
}

.profileIcon {
  width: 56px;
  height: 56px;
}

.profileIcon:hover {
  cursor: pointer;
}

.content {
  display: flex;
}

.navBarStyle {
  width: 232px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2a3647;
}

.subMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 158px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 135px;
  left: 1250px;
  background-color: #2a3647;
  padding: 10px;
}

.subMenuButtons {
  width: 130px;
  height: 46px;
  padding: 8px 16px 8px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #2a3647;
  border: 0px;
  color: #cdcdcd;
}

.subMenuButtons:hover {
  background-color: #2a3d59;
}

/* NavBar */
.logo {
  width: 100.03px;
  height: 121.97px;
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}

.menu3 {
  width: 232px;
  height: 229px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navBtnLogIn {
  background-color: #2a3647;
  color: #cdcdcd;
  width: 232px;
  height: 46px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.taskSummary {
  width: 232px;
  height: 46px;
}

.taskFrame9 {
  width: 232px;
  height: 46px;
}
.taskBoard {
  width: 232px;
  height: 46px;
  border-radius: 8px;
}
.taskContacts {
  width: 232px;
  height: 46px;
  border-radius: 8px;
}

.navBtnBoard {
  background-color: #2a3647;
  color: #cdcdcd;
  width: 232px;
  height: 46px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navBtn {
  background-color: #2a3647;
  color: #cdcdcd;
  width: 232px;
  height: 46px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.navBtnBoard:hover {
  cursor: pointer;
  background-color: #091931;
}

.navBtn:hover {
  cursor: pointer;
  background-color: #091931;
}

.navIcons {
  width: 30px;
  height: 30px;
}

.taskFrame22 {
  width: 232px;
  height: 317px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.privatLink {
  width: 232px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #091931;
}

.taskFrameLink {
  display: flex;
  align-items: center;
  color: #cdcdcd;
  text-decoration: none;
  height: 35px;
  padding: 8px;
}

.taskFrameLink:hover {
  cursor: pointer;
  color: #00bee8;
  font-weight: 700;
}

p {
  margin: 0;
  font-weight: 200;
  size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

/* TaskContent */
.taskh1Container {
  width: 278px;
  height: 73px;
  position: absolute;
  top: 206px;
  left: 328px;
  display: flex;
  gap: 1px;
}

.taskContainer {
  position: absolute;
  width: 440px;
  height: 376px;
  top: 327px;
  left: 328px;
}

.taskTitle {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 96px;
  gap: 8px;
}

.taskAddBoardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50vw;
  left: 50vh;
  gap: 10px;
  width: 326px;
  height: 74px;
  background-color: #2a3647;
  box-shadow: 0px 0px 4px 0px #00000026;
  border-radius: 20px;
  color: #ffffff;
}

.taskTitleInput {
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

.taskDescription {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 168px;
  gap: 8px;
}

.taskDescriptionInput {
  width: 440px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

.taskDate {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 96px;
  top: 296px;
  left: 0.25px;
  gap: 8px;
}

.taskDateInput {
  padding-left: 10px;
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

.spaceContainer {
  position: fixed;
  width: 0px;
  height: 424px;
  top: 327px;
  left: 816.25px;
  border: solid 1px;
  color: #d1d1d1;
}

.prioContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 400px;
  top: 327px;
  left: 864.25px;
  gap: 24px;
}

.prioContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 440px;
  height: 88px;
}

.prioButtonContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.prioButtons{
  width: 136px;
  height: 56px;
  border-style: none;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 0px #0000001A;
}

.prioButtons:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.prioIcons {
  width: 20px;
  height: 14.51px;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  display: none;
}

input:invalid + .error-message {
  display: block;
}

input:valid + .error-message {
  display: none;
}

.prioAssignedContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 440px;
  height: 80px;
}

.prioAssignInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.assignInput {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.prioCategoryContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 440px;
  height: 80px;
}

.prioCategoryInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.categoryInput {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.prioSubtaskContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 440px;
  height: 80px;
}

.prioSubtaskInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.subtaskInput {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.taskPrioIcons {
  width: 14px;
  height: 14px;
}

.requiredContainer {
  width: 170px;
  height: 27px;
  position: fixed;
  top: 810px;
  left: 328px;
}

.createContainer {
  display: flex;
  gap: 16px;
  width: 309px;
  height: 56px;
  position: fixed;
  top: 810px;
  left: 995.25px;
}

.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 110px;
  height: 56px;
  gap: 4px;
  border-radius: 10px;
  padding: 16px;
  border: 1px solid #2a3647;
  background-color: #f6f7f8;
}

.clearButton:hover {
  border: 2px solid #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.createButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 56px;
  gap: 4px;
  border-radius: 10px;
  padding: 16px;
  background: #2a3647;
  color: #ffffff;
  border: 0px;
}

.createButton:hover {
  background: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

input::placeholder {
  padding-left: 10px;
}

input[type="text"]:focus {
  border: 1px solid #29abe2;
  outline: 1px solid #29abe2;
}

textarea::placeholder {
  padding-top: 10px;
  padding-left: 10px;
}

.taskTitleInput:focus {
  border-color: #29abe2;
  border: 1px solid #29abe2;
}

.d_none {
  display: none;
}

.prioUrgentBtnActive{
  background-color: #FF3D00;
  color: white;
}