/* (=^.^=) */
body{ 
    margin: 0;
    font-family: 'Inter';
    max-width: 1440px;
    max-height: 1024px;
    width: 100%;
    height: 1024px;
}

a {
  color: white;
  text-decoration: none;
}

main {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.frontPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding-left: 116px;
}

.headline {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headline h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  letter-spacing: 0%;
}

.headline .divider {
  width: 3px;
  height: 59px;
  background-color: #29abe2;
  border-radius: 999px;
}

.headline p {
  font-size: 27px;
  color: #2a3647;
}

.headline * {
  margin: 0;
}

.mainContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  position: fixed;
  top: 206px;
  left: 328px;
}
.counter {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

.icon {
  height: 69px;
  width: 69px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 560px;
  gap: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.toDo,
.done,
.urgent,
.urgentAmount,
.stats {
  display: flex;
  align-items: center;
  gap: 18px;
}

.urgent,
.stats {
  width: 100%;
  justify-content: space-between;
}

.urgent .divider {
  width: 2px;
  height: 100%;
  background-color: #d1d1d1;
  border-radius: 999px;
}

.urgentDate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.urgentTaskDate {
  font-size: 21px;
  color: #2a3647;
}

.urgentTaskDateText {
  font-size: 16px;
  color: #2a3647;
}

.taskText {
  font-size: 20px;
  color: #2a3647;
}

/* BUTTON STYLING */
.btn {
  background-color: white;
  padding: 36px 65px;
  border-radius: 30px;
}

.invertedIcon {
  display: none;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: #2a3647;
  color: white;
}
.btn:hover .taskText {
  color: white;
}

.btn:hover .urgentDate p {
  color: white;
}

.btn:hover .defaultIcon {
  display: none;
}

.btn:hover .invertedIcon {
  display: inline;
  background-color: white;
  border-radius: 50%;
}

.greetings p:first-child {
  font-weight: 500;
  color: #2a3647;
  font-size: 47px;
}

.username {
  font-weight: 700;
  color: #29abe2;
  font-size: 64px;
}

.dropDownMenu {
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #2a3647;
  width: 150px;
  height: 158px;
  border: 1px solid #2a3647;
  border-radius: 20px 0px 20px 20px;
  padding: 10px;
  margin-top: 40px;
  top: 5.3%;
  left: 85%;
}

.dropDownTxt {
  z-index: 1000;
  margin-top: 20px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400px;
  color: #cdcdcd;
  padding-left: 20px;
}

.dropDownTxt:hover {
  color: #29abe2;
  cursor: pointer;
}

.txtDeco-none {
  text-decoration: none;
}
