p {
  margin: 0;
  font-weight: 200;
  size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

/* Help Section */

.helpSection {
    display: flex;
    flex-direction: column;
    padding-top: 215px;
    padding-left: 328px;
    max-width: 1016px;
    margin-right: 50px;
    overflow-y: auto;
    gap: 24px;
}

.helpH1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1014px;
  height: 73px;
}

.h1Image {
  width: 32px;
  height: 32px;
}

.h1Image:hover {
  background-color: #eeeeee;
  width: 34px;
  height: 34px;
  border-radius: 35px;
}

.helpContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.helpWelcome {
  height: 38px;
}

.helpWhatIs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
}

.helpHow {
  width: 346px;
  height: 32px;
}

.helpStep {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  height: 556px;
}

.helper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 61px;
  gap: 35px;
}

.helperNumber{
    width: 21px;
    height: 32px;
}

h3{
    margin: 0;
}

.helpEnjoy{
    width: 346px;
    height: 64px;
}

a:hover {
  color: #29abe2;
}

.enjoy {
  margin-top: 50px;
  margin-bottom: 10px;
}

h2 {
    margin: 0;
}

.txtDeco-none{
    text-decoration: none;
}