@media (min-width: 300px) and (max-width: 991px) {

  .board-h1-container {
    flex-direction: column;
    align-items: start;
    padding-top: 30px;
  }

  .board-add-wrapper,
  .input-wrapper {
    width: 100%;
  }

  .search-add-container {
    width: 100%;
    gap: 16px;
  }
  
}