body {
  max-width: 1440px;
}

h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: clamp(2.5rem, 5vw, 3.8rem);
  line-height: 120%;
  display: inline-block;
  white-space: nowrap;
  margin: 0;
}

.board-h1-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.search-add-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 10px 0;
}

.column {
  max-width: 272px;
  width: clamp(210px, 24%, 272px);
  display: flex;
  flex-direction: column;
}

.searchField {
  width: 312px;
  height: 48px;
  gap: 10px;
  border-radius: 10px;
  border-width: 1px;
}

.searchField:focus {
  border: 1px solid #29abe2;
  outline: 1px solid #29abe2;
}

.board-add-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.board-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  padding: 0 8px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 32px;

  h2 {
    font-size: 20px;
    margin: 0;
    color: rgba(66, 82, 110, 1);
  }
}

.add-task-board-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 16px;
  background: #2a3647;
  color: #ffffff;
  border: 0px;
}

.add-task-board-button:hover {
  background: #007cee;
  color: #ffffff;
  cursor: pointer;
}

.add-task-board-button img {
  width: 20px;
  height: 20px;
}

.input-wrapper {
  position: relative;
  align-items: center;
  width: 312px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.add_btn_default {
  height: 48px;
}

.input-wrapper input {
  width: 100%;
  padding-right: 40px;
  padding-left: 12px;
  height: 48px;
  box-sizing: border-box;
}

.input-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.6;
}

.no-scroll {
  overflow: hidden;
}

.txtDeco-none {
  text-decoration: none;
}

.task {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  box-sizing: border-box;
  max-width: 250px;
  width: 100%;
  height: auto;
  min-height: 231px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  opacity: 1;

  img {
    height: 27px;
    align-content: flex-start;
    pointer-events: none;
  }
}

.task-icon {
  display: flex;
  justify-content: space-between;
}

.switchPositionBtn {
  width: 20px;
  height: 20px;
}

.task img.switchPositionBtn {
  pointer-events: auto !important;
}

.switchPositionBtn:hover {
  cursor: pointer;
}

h3 {
  margin: 0;
}

.task-description-style {
  color: #a8a8a8;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.add-task-board-button-second {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a3647;
  color: #ffffff;
  border: 0px;
  width: 160px;
  height: 48px;
  opacity: 1;
  gap: 8px;
  border-radius: 10px;
  border-width: 1px;
}

.add-task-board-button-second:hover {
  background: #007cee;
  color: #ffffff;
  cursor: pointer;
}

.add-tasboard-button-second img {
  width: 20px;
  height: 20px;
}

.task-list {
  border-radius: 8px;
  background-color: #f6f7f8;
  border: 2px dashed transparent;
  transition: border-color 0.2s ease;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-direction: column;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.task-list::-webkit-scrollbar {
  display: none;
}

.task-list.drag-over {
  border-color: #007cee;
}

.selected-contact-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px;
  border-radius: 22px;
  border: 2px solid #ffffff;
}

.assigned-chips {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.assigned-chip-container {
  display: flex;
  align-items: center;
  gap: 0;
}

.empty-placeholder {
  padding: 1rem;
  height: 48px;
  text-align: center;
  font-style: italic;
  color: black;
  background-color: rgba(168, 168, 168, 1);
  border: gray 1px dashed;
  border-radius: 8px;
  pointer-events: none;
}

#modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#modal-overlay.d_none {
  display: none;
}

.prioButtonUrgent.active {
  background: #ff3d00;
  color: #fff;
}

.prioButtonMedium.active {
  background: #ffa800;
  color: #fff;
}

.prioButtonLow.active {
  background: #7ae229;
  color: #fff;
}

.board-icon:hover {
  cursor: pointer;
  content: url("../assets/icons/add_task_btn_blue.svg");
}

.progress-bar-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.progress-bar-container {
  display: flex;
  width: 128px;
  justify-content: flex-start;
  max-width: 400px;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
  height: 100%;
  width: 0%;
  background-color: #005eff;
  transition: width 0.3s ease-in-out;
  transform-origin: left;
}

.task-priority-img {
  width: 20px;
  height: 20px;
}

.MoveDropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: #2a3647;
  width: 106px;
  height: 113px;
  border-radius: 20px 0px 20px 20px;
  padding: 6px 8px 16px 8px;
  gap: 16px;
  z-index: 200;
  left: 110px;
  top: 40px;
}

.moveHeader {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.moveList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.moveText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 18px;
  width: 90px;
  padding: 4px 5px 4px 2px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.moveText:hover {
  cursor: pointer;
  background-color: #091931;
  border-radius: 10px;
  border-radius: 8px;
}

.moveImg {
  pointer-events: all;
  width: 15px;
  height: 15px;
}

.task-list-dragging {
  transform: rotate(5deg);
  transition: transform 0.2s;
  cursor: grabbing;
}

.event-none {
  pointer-events: none;
}