.task-title,
.task-description,
.task-date {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  width: 100%;
  gap: 8px;
}

.task-date {
  height: 120px;
}

.task-title-input {
  height: 48px;
}

.task-title-input,
.task-description-input,
.task-dateInput {
  border-radius: 10px;
}

.task-description-input {
  height: 120px;
}

.task-dateInput {
  height: 48px;
}

.prio-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 440px;
  gap: 24px;
}

.prio-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
  max-height: 580px;
}

.prio-button-container {
  display: flex;
  margin: 0px 3px;
  justify-content: space-between;
  gap: clamp(0.35rem, 0.05rem, 1rem);
  width: 98%;
}

.task-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.prio-icons {
  width: 20px;
  height: 14.51px;
}

.prio-category-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  height: 80px;
}

.prio-category-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  font-size: 1rem;
  cursor: pointer;
}

.categoryInput {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 16px;
  display: none;
}

input:invalid+.error-message {
  display: block;
}

input:valid+.error-message {
  display: none;
}

.subtask-spacer,
.subtask-spacer-second {
  border-width: 1px;
  border: 1px solid #a8a8a8;
}

.subtask-spacer {
  height: 20px;
}

.subtask-spacer-second {
  height: 12px;
}

.subtask-edit-wrapper input:focus {
  outline: none;
}

.create-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  max-width: 900px;
}

.user-info-wrapper label {
  cursor: pointer;
}

.modal-content {
  display: flex;
  width: 100%;
  gap: 23px;
}