.form-container {
  max-width: 1440px;
  width: 100%;
}

.required-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.space-container {
  border: solid 1px #d1d1d1;
  height: 478px;
}

.subtask-spacer,
.subtask-spacer-second {
  border-width: 1px;
  border: 1px solid #a8a8a8;
}

.subtask-spacer {
  height: 20px;
}

.subtask-spacer-second {
  height: 12px;
}

.task-wrapper-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
