.form-container {
  max-width: 1440px;
  width: 98%;
}

.required-container {
  padding-top: 20px;
}

.space-container {
  width: 0px;
  border: solid 1px;
  color: #d1d1d1;
  height: 100%;
}

.subtask-spacer,
.subtask-spacer-second {
  border-width: 1px;
  border: 1px solid #a8a8a8;
}

.subtask-spacer {
  height: 20px;
}

.subtask-spacer-second {
  height: 12px;
}

@media (max-width: 768px) {
.form-container {

  width: 100%;
}
}
