body{
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px #000000;
    max-width: 1440px;
    height: 96px;
    padding: 20px 40px 20px 348px;
}

.headerTxt{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
}

.headerBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.profileBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 56px;
  width: 56px;
  border-radius: 50px;
  padding: 15px 24px 15px 24px;
  border: 1px solid #2a3647;
  border-color: #2a3647;
  border-width: 3px;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  color: #29ABE2;
}

.profileBtn:hover{
    background-color: #2a3647;
    color: #FFFFFF;
}

.sidebar{
    display: flex;
    flex-direction: column;
}

.navSidebar{
    position: absolute;
    width: 232px;
    height: 100vh;
    background-color: #2a3647;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding:64px 0px 64px 0px;
}

.logo{
    width: 100px;
    height: 122px
}

.legalSites{
    display: flex;
    flex-direction: column;
}