html {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.helpBtn:hover {
  width: 24px;
  height: 24px;
}

.headerTxt {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
}

.headerBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.contactList {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 456px;
  margin-left: 232px;
  height: 100%;
  box-shadow: 0px 4px 4px #000000;
  border-top: 1px solid #d1d1d1;
}

.allContacts {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
  scrollbar-width: thin;
}

.content {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 96px);
  overflow: hidden;
}

.newContact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 56px;
  gap: 16px;
  padding: 12px 0px 12px 0px;
  margin: 22px;
  left: 52px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 21px;
  background-color: #2a3647;
  color: #ffffff;
}

.newContact:hover {
  cursor: pointer;
  background-color: #29abe2;
  border-color: #29abe2;
  color: #2a3647;
}

.newContactIcon {
  width: 32px;
  height: 32px;
  top: 18px;
  left: 257px;
}

.singleContact {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 25px;
}

.contactList,
.singleContact {
  overflow-y: auto;
}

.bar {
  height: 59px;
  border: 2px solid #29abe2;
  border-radius: 3px;
}

.contactHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 110px;
  margin-right: 24px;
  gap: 16px;
  max-width: 100%;
}

h1,
h2 {
  font-family: "Inter";
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: clamp(3rem, 4.1vw, 6rem);
  color: #000000;
}

h2 {
  font-weight: 400;
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: #2a3647;
  white-space: nowrap;
}

.bigContact {
  display: flex;
}

.profilePic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
  width: 90px;
  aspect-ratio: 1;
  border-radius: 70px;
  border: 2px solid #ffffff;
}

#profileName {
  font-family: "Inter";
  font-size: clamp(1rem, 3.5vw, 3.5rem);
  font-weight: 500;
  margin: 0px 24px 0 0;
  height: fit-content;
}

.mailPhone {
  width: 140px;
  height: 128px;
}

.profileHeader {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 21px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.nameBtns {
  display: flex;
  flex-direction: column;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 159px;
  height: 24px;
  gap: 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
}

.editBtn {
  display: flex;
  align-items: center;
  gap: 4px;
}

.editBtn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.deleteBtn {
  display: flex;
  align-items: center;
  gap: 4px;
}

.deleteBtn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.information {
  width: 207px;
  height: 59px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 0;
}

.emailContainer {
  display: flex;
  flex-direction: column;
  /* width: 140px; */
  height: 53px;
  margin-bottom: 40px;
}

.email {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}

.emailAdress {
  height: 19px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #007cee;
  margin: 0;
  padding-bottom: 25px;
}

.numberContainer {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 53px;
}

.phone {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin: 0;
}

.phoneNumber {
  width: 140px;
  height: 19px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
}

.startLetter {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 58px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 5px;
}

.stripe {
  width: 90%;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  margin: auto;
  gap: 10px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 78px;
  gap: 35px;
  border-radius: 10px;
  margin: auto;
  padding-left: 5px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.contact:hover {
  background-color: #2a3647;
  color: white;
}

.contact:active {
  background-color: #2a3647;
  color: white;
}

.pic {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
  border: 2px solid #ffffff;
}

.contactName {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.contactEmail {
  width: 160px;
  height: 19px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  color: #007cee;
}

.txt:hover {
  color: #29abe2;
}

.active {
  background-color: #2a3647;
  border: 1px solid #2a3647;
  color: #ffffff;
}

.margin-top {
  margin-top: 20px !important;
}

.userFeedback {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a3647;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  width: 312px;
  height: 74px;
  border: 1px solid #2a3647;
  border-radius: 20px;
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  opacity: 0;
}

.centerFeedback {
  animation: slideUpFadeIn 0.6s ease-out forwards;
}

.closeSingleMobile {
  display: none;
  position: absolute;
  top: 36px;
  right: 41px;
  cursor: pointer;
  z-index: 20;
  font-size: 0;
  width: 32px;
  aspect-ratio: 1;
}

.closeSingleMobile:hover {
  background-color: #81818173;
  border-radius: 100%;
}

.fab-container {
  display: none;
}

.fab-btn:hover {
  background-color: #29abe2;
}

.fab-menu-item:hover {
  background-color: #2a3647 !important;
  color: white;
}

.fab-menu-item img {
  transition: filter 0s ease;
}

.fab-menu-item:hover img {
  filter: brightness(0) invert(1);
}

.bigContactCard {
  width: 90%;
}

.nameAdressContainer {
  width: auto;
  flex: 1 1 0;
  min-width: 0;
}

.contact-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nameAdressContainer .email {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes slideUpFadeIn {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 40%;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

.singleContact.slide-in {
  position: fixed;
  top: 96px;
  left: 0;
  width: 100%;
  height: calc(100% - 96px);
  background-color: white;
  z-index: 10;
  animation: slideIn 0.3s ease-out forwards;
  display: block !important;
}

.singleContact.slide-out {
  display: block !important;
  position: fixed;
  top: 96px;
  left: 0;
  width: 100%;
  height: calc(100% - 96px - 80px);
  background-color: white;
  z-index: 10;
  animation: slideOut 0.3s ease-in forwards;
}

.editInitials {
  display: flex;
  box-sizing: border-box;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-width: 2px;
  border-radius: 60px;
  border: 2px solid #ffffff;
  color: white;
  font-family: "Inter";
  font-size: 47px;
}