html{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

body{
    overflow-y: hidden;
}

.helpBtn:hover{
    width: 24px;
    height: 24px;
}

.headerTxt{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
}

.headerBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    
}

.contactList{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 456px;
    margin-left: 232px;
    margin-top: 96px;
    height: 92vh;
    box-shadow: 0px 4px 4px #000000;
}

.allContacts{
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
}

.content{
    display: flex;
    flex-direction: row;
}

.newContact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 352px;
    height: 56px;
    gap: 16px;
    padding: 12px 0px 12px 0px;
    margin: 22px;
    left: 52px;
    border: 1px solid #2a3647;
    border-radius: 10px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 21px;
    background-color: #2a3647;
    color: #FFFFFF;
}    

.newContact:hover{
    cursor: pointer;
    background-color: #29ABE2;
    border-color: #29ABE2;
    color: #2a3647;
}

.newContactIcon{
    width: 32px;
    height: 32px;
    top: 18px;
    left: 257px;
}

.singleContact{
    display: flex;
    flex-direction: column;
}

.bar{ 
    height: 59px;
    border: 3px solid #29ABE2;
}

.contactHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: 70px;
    gap: 30px;
    width: 569px;
    height: 73px;
}

h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 61px;
    color: #000000;
}

h2{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 27px;
    color: #2a3647;
}

.bigContact{
    display: flex;
    justify-content: center;
}

.profilePic{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 47px;
    color: #FFFFFF;
    width: 120px;
    height: 120px;
    background-color:#FF7A00;
    border-radius: 70px;
    border: 3px solid #FF7A00;
}

.profileName{
    font-family: 'Inter';
    font-size: 47px;
    font-weight: 500;
    margin: 0;
}

.profileHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.nameBtns{
    display: flex;
    flex-direction: column;
    height: 56px;

}

.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 159px;
    height: 24px;
    gap: 20px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
}

.editBtn{
    display: flex;
    align-items:center;
    gap: 4px;
}

.editBtn:hover{
    text-decoration: underline;
    cursor: pointer;
}

.deleteBtn{
    display: flex;
    align-items:center;
    gap: 4px;
} 

.deleteBtn:hover{
    text-decoration: underline;
    cursor: pointer;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.information{ 
    width: 207px;
    height: 59px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.emailContainer{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 53px;
    margin-bottom: 40px;
}

.email{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.emailAdress{
    width: 140px;
    height: 19px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #007cee;
    margin: 0;
    padding-bottom: 25px;
}

.numberContainer{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 53px;
}

.phone{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin: 0;
}

.phoneNumber{
    width: 140px;
    height: 19px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
}

.mailPhone{
    width: 140px;
    height: 128px;
    gap: 22px;
}

.startLetter{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    width: 352px;
    height: 58px;
    padding: 17px 36px 17px 36px;
}

.stripe{
    width: 352px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    margin: 8px 36px 8px 36px;
    gap: 10px;
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 352px;
    height: 78px;
    gap: 35px;
    border-radius: 10px;
    margin: 15px 35px 15px 36px;
    padding-left: 5px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.contact:hover{
    transform: scale(1.05);
    background-color: #2a3647;
    color: white;
}

.active{
    background-color: #2a3647;
    /* border: 1px solid #2a3647; */
    color: #FFFFFF;
}

.pic{
    width: 42px;
    height: 42px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7A00;
}

.contactName{
    width: 141px;
    height: 24px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    
}

.contactEmail{
    width: 160px;
    height: 19px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    color: #007cee;
}

.txt:hover{
    color: #29ABE2;
}

.margin-top{
    margin-top: 20px !important;
}