@media (max-width: 1100px) {
  .profilePic {
    min-width: 90px;
  }


  .profileHeader {
    justify-content: space-evenly;
  }
}

@media (max-width: 900px) {
  .profilePic {
    font-size: 38px;
    width: 80px;

  }

  .btns {
    gap: 12px;
    font-size: 8px;
  }

  #edit,
  #delete {
    font-size: 13px;
  }

  .profileHeader {
    gap: 12px;
    min-height: 180px;
  }

  .contactHeader {
    gap: 8px;
  }

  .submitBtn {
    width: 200px;
  }

  .editInitials {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 120px;
    height: unset;
    aspect-ratio: 1;
  }
}

@media (max-width: 768px) {
  .btns {
    display: none;
  }

  #profileName {
    font-size: clamp(2rem, 4.1vw, 3.5rem);
    padding-right: 12px;
  }

  .contactList,
  .allContacts {
    width: 100%;
  }

  .closeSingleMobile {
    display: grid;
    place-items: center;
  }

  .singleContact {
    display: none;
    position: absolute;
    top: 96px;
    left: 0;
    right: 0;
    height: calc(100vh - 96px - 80px);
    background-color: white;
    overflow-x: hidden !important;
  }

  .singleContact.slide-in {
    height: calc(100% - 96px - 80px);
    border-top: 1px solid #d1d1d1;
  }

  .newContact {
    position: fixed;
    bottom: 100px;
    right: 24px;
    left: auto;
    margin: 0;
    width: 56px;
    height: 56px;
    padding: 0;
    border-radius: 50%;
    background-color: #2a3647;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .newContact p {
    display: none;
  }

  .newContactIcon {
    width: 24px;
    height: 24px;
    margin: 0;
  }

  .contactList {
    margin-left: 0;
    width: 100%;
    position: static;
  }

  .singleContact.slide-in .fab-container {
    display: block;
    position: fixed;
    bottom: 32px;
    right: 41px;
    z-index: 100;
  }

  .fab-btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #2a3647;
    color: #ffffff;
    font-size: 24px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: absolute;
    bottom: 16px;
    right: 8px;
  }

  .fab-menu {
    position: absolute;
    bottom: 16px;
    right: 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transform: translateX(calc(100% + 24px));
    transition: transform 0.3s ease;
  }

  .fab-container.open .fab-menu {
    transform: translateX(0);
  }

  .fab-menu-item {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  .fab-menu-item:hover {
    background-color: #f2f2f2;
  }

  .contactHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin: 0;
    padding-top: 36px
  }

  .contactHeader h1 {
    order: 1;
  }

  .contactHeader h2 {
    order: 2;
  }

  .contactHeader .bar {
    order: 3;
  }

  .contactHeader .bar {
    border: none;
    height: 3px;
    width: 90px;
    background-color: #29abe2;
    margin: 0;
  }

  .contactHeader h1 {
    font-size: 47px;
    padding: 0;

  }

  .contactHeader h2 {
    font-size: 20px;
    font-weight: 400;
  }

  .allContacts {
    padding-bottom: 90px;
  }

  .editInitials {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 120px;
    height: unset;
    aspect-ratio: 1;
  }
}

@media (max-width: 575px) {
  .singleContact.slide-in {
    height: calc(100% - 80px - 80px);
    top: 80px;
  }

  .allContacts {
    padding-top: 90px;
  }

  .submitBtn {
    width: 200px;
  }

  .editInitials {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 120px;
    height: unset;
    aspect-ratio: 1;
  }
}