.hoverPosition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.527);
  z-index: 1000;
}

.hoverWindow {
  position: relative;
  margin: 0;
  width: 90%;
  max-width: 1260px;
  height: auto;
  max-height: 90vh;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 467px;
  height: 594px;
  background-color: #2a3647;
  border: 1px solid transparent;
  border-radius: 30px 0px 0px 30px;
  flex: 1;
  min-width: 250px;
}

.leftContent {
  width: 95%;
  padding-left: 20px;
}

.leftnav-logo {
  width: 55px;
  height: 66px;
}

.windowH1 {
  margin: 0;
  width: 366px;
  font-family: "Inter";
font-size: clamp(2.5rem, 3.5vw, 3rem);
  font-weight: 700;
  color: #ffffff;
}

.windowSlogan {
  margin: 0;
  font-family: "Inter";
  font-size: clamp(1.1rem, 1.5vw, 2rem);
  font-weight: 400;
  color: #ffffff;
}

.underline {
  width: 90px;
  border: 3px solid #29abe2;
  background-color: #29abe2;
}

.rightSide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 594px;
  width: 745px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0px 30px 30px 0px;
  flex: 2;
  min-width: 300px;
}

.closeBtn {
  width: 32px;
  height: 32px;
  margin: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  font-family: "Inter";
  font-size: 32px;
}

.closeBtn:hover {
  cursor: pointer;
}

.rightContent {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.profileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 3px solid transparent;
  border-radius: 70px;
  background-color: #d1d1d1;
}

.addContactIcon {
  max-width: 128px;
  max-height: 128px;
  width: 85%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.addContactForm,
.editContactForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 63%;
}

textarea,
input {
  display: flex;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  resize: none;
  /* width: 422px; */
  height: 50px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

#editContactName,
#editContactEmail,
#editContactPhone {
  width: 100%;
  min-width: 330px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border: 1px solid #29abe2;
  outline: 1px solid #29abe2;
}

textarea::placeholder,
input::placeholder {
  color: #d1d1d1;
  padding: 11px;
}

.pers {
  position: relative;
  display: inline-block;
  width: 100%;
}

.pers input {
  width: 100%;
  padding-right: 2.5rem;
  /* Platz für Icon schaffen */
  box-sizing: border-box;
}

.mail-edit {
  position: relative;
  display: inline-block;
  width: 100%;
}

.mail-edit input {
  width: 100%;
  padding-right: 2.5rem;
  box-sizing: border-box;
}

.mail-add {
  position: relative;
  display: inline-block;
  width: 100%;
}

.mail-add input {
  width: 100%;
  padding-right: 2.5rem;
  box-sizing: border-box;
}

.mail {
  display: inline-block;
  align-items: center;
  color: #007cee;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.call {
  position: relative;
  display: inline-block;
  width: 100%;
}

.call input {
  width: 100%;
  padding-right: 2.5rem;
  box-sizing: border-box;
}

.inputIconPers {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
  pointer-events: none;
}

.inputIconMail {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
  pointer-events: none;
}

.inputIconCall {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
  pointer-events: none;
}

.formBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 364px;
  height: 57px;
}

.cancelBtn {
  width: 126px;
  height: 57px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  background-color: #ffffff;
  color: #2a3647;
}

.cancelBtn:hover {
  cursor: pointer;
  color: #29abe2;
  border-color: #29abe2;
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 57px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  background-color: #2a3647;
  color: #ffffff;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: #29abe2;
  border-color: #29abe2;
  color: #ffffff;
}

.checkIcon {
  width: 15px;
  height: 11px;
}

@media (max-width: 1240px) {


  .underline {
    width: 75px;
    border: 2px solid #29abe2;
  }
}

@media (max-width: 1050px) {
  .underline {
    width: 60px;
  }
}

@media (max-width: 900px) {
  .hoverWindow {
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    border-radius: 0;
    position: relative;
    overflow-x: hidden;
  }

  .editContactForm {
    padding-top: 24px;
  }

  .rightContent {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .windowSlogan {
    font-size: clamp(1.2rem, 4.1vw, 9rem);
    width: auto;
  }

  .leftSide,
  .rightSide {
    flex: none;
    width: 100%;
    height: 60%;
  }

  .leftSide {
    border-radius: 0;
    border: none;
    height: 40%;
  }

  .rightSide {
    border-radius: 0;
    border: none;
    position: relative;
  }

  .profileIcon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 2px solid white;
    width: 120px !important;
    height: unset !important;
    aspect-ratio: 1 !important;
  }

  .leftnav-logo {
    display: none;
  }

  .windowH1 {
font-size: clamp(3rem, 9.5vw, 6rem);
    width: unset;
  }

  .rightContent {
    width: 100%;
  }

  .addContactIcon {
    width: 80px;
    aspect-ratio: 1;
  }

  .hoverWindow form {
    width: 95%;
  }

  .hoverWindow form>div,
  input {
    width: 100%;
  }

  .formBtns {
    display: flex;
    justify-content: space-around;
    gap: 12px;
    max-width: 100%;
  }

  .rightSide>.closeBtn {
    display: none;
  }

  .leftSide>.closeBtn {
    display: block !important;
    color: #d9d9d9;
  }

  #editContactName,
  #editContactEmail,
  #editContactPhone {
    width: 100%;
    min-width: 280px;
  }

  #editInitials {
    margin: 0px;
  }
}