@media (min-width: 769px) and (max-width: 991px) {
  .nav-bar {
    width: 232px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2a3647;
    z-index: 2;
  }

  .task-detail-container {
    flex-direction: column;
  }

  .column {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header-nav-logo {
    display: none;
  }

  .empty-placeholder {
    width: 100%;
  }

  .required-container {
    padding-bottom: 64px;
    max-width: 440px;
  }

  .header-style {
    justify-content: space-between;
    gap: 80px;
  }

  .help-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 104px;
    height: 56px;
  }

  .task-title,
  .task-description,
  .task-date {
    box-sizing: border-box;
    max-width: 600px;
  }

  .prio-category-container {
    max-width: 600px;
  }

  .subtask-wrapper {
    max-width: 600px;
  }

  .prio-assigned-container {
    max-width: 600px;
  }

  .prio-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    box-sizing: border-box;
    gap: 24px;
  }

  .task-title-input,
  .task-description-input,
  .task-dateInput {
    border-radius: 10px;
    max-width: 600px;
  }

  .create-container {
    padding-top: 50px;
  }

  .task-h1-container {
    margin: 0;
  }

  .form-wrapper {
    padding-top: 46px;
    padding-left: 295px;
  }

  .profile-button {
    width: 48px;
    height: 48px;
  }

  .add-task-board-button {
    display: none;
  }

  .task-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px;
    min-height: 120px;
  }

  .board-container {
    flex-direction: column;
    max-width: 1440px;
    padding-top: 50px;
    padding: 16px;
    padding-left: 295px;
    position: absolute;
    top: 96px;
    bottom: 10px;
    left: 0;
    right: 0;
    overflow-y: auto;
    box-sizing: border-box;
  }

  .task-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 382px;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
  }

  .task-container {
    padding-right: 40px;
  }

  .space-container {
    display: none;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .nav-bar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2a3647;
    z-index: 2;
  }

  .task-detail-container {
    flex-direction: column;
  }

  .header-stylte {
    padding-left: 0;
  }

  .header-nav-logo {
    display: none;
  }

  .empty-placeholder {
    width: 100%;
  }

  .header-stylte {
    padding-left: 0;
  }

  .help-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 104px;
    height: 56px;
  }

  .profile-button {
    width: 48px;
    height: 48px;
  }

  .form-wrapper {
    padding-top: 100px;
    padding-left: 328px;
  }

  .required-container {
    padding-bottom: 64px;
    bottom: 0;
    width: 65%;
  }

  .task-container {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 16px;
  }

  .task-title,
  .task-description,
  .task-date {
    width: 100%;
  }

  .create-container {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding-top: 50px;
  }

  .task-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 382px;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
  }

  .add-task-board-button {
    display: none;
  }

  .board-container {
    padding-top: 100px;
    padding-right: 16px;
    padding-left: 295px;
    position: absolute;
    top: 96px;
    bottom: 10px;
    left: 0;
    right: 0;
    overflow-y: auto;
    box-sizing: border-box;
    max-width: 1440px;
  }

  .task-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px;
    min-height: 120px;
  }

  .column {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .header-nav-logo {
    display: none;
  }

  .header-stylte {
    padding-left: 0;
  }

  .help-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 104px;
    height: 56px;
  }

  .profile-button {
    width: 48px;
    height: 48px;
  }

  .nav-bar {
    width: 232px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2a3647;
    z-index: 2;
  }

  .form-wrapper {
    padding-left: 328px;
  }

  .create-container {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding-top: 50px;
  }

  .space-container {
    display: block;
  }

  .task-container {
    display: flex;
    padding-left: 0;
    gap: 16px;
  }

  .task-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
  }

  .add-task-board-button {
    display: none;
  }

  .board-container {
    padding-top: 100px;
    padding-right: 16px;
    padding-left: 295px;
    overflow-y: auto;
    scrollbar-width: none;
    box-sizing: border-box;
    width: 100%;
  }

  .board-container::-webkit-scrollbar {
    display: none;
  }

  .task-list {
    min-height: 100%;
    display: flex;
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px;
    scroll-behavior: smooth;
  }

  .board {
    display: flex;
    gap: 16px;
  }

  .task {
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
  }
}
