::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f7f8;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  color: #000000;
}

p {
  margin: 0;
  font-weight: 400;
  line-height: 120%;
}

.txtDeco-none {
  text-decoration: none;
}

.color-red {
  color: red;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 96px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px #0000001a;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
  max-width: calc(1440px - 325px);
  padding-left: 325px;
}

.help-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-right: 6px;
  width: 104px;
  height: 56px;
}

.help-icon {
  width: 20px;
  height: 20px;
}

.profileContainer {
  width: 104px;
  height: 56px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 50px;
  width: 48px;
  height: 48px;
  border: 3px solid #2a3647;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  color: #29abe2;
}

.profile-button:hover {
  background-color: #2a3647;
  color: #ffffff;
  cursor: pointer;
}

.nav-logo {
  height: 121px;
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  flex-direction: column;
}

.nav-buttons {
  background-color: #2a3647;
  color: #cdcdcd;
  width: 232px;
  height: 46px;
  border: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  padding-left: 60px;
  gap: 20px;
}

.nav-buttons:hover {
  cursor: pointer;
  background-color: rgb(9, 25, 49, 0.5);
}

.nav-buttons.active,
.taskFrameLink.active {
  background-color: #091931;
}

.nav-button-login {
  background-color: #2a3647;
  color: #cdcdcd;
  height: 46px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.nav-icons {
  width: 30px;
  height: 30px;
}

.taskSummary,
.taskFrame9,
.taskContacts {
  height: 46px;
}

.taskContacts {
  border-radius: 8px;
}

.legal-privat-container,
.privatLink {
  width: 232px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;
}

.privatLink {
  background-color: #091931;
}

.taskFrameLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cdcdcd;
  text-decoration: none;
  height: 35px;
  padding: 8px 0;
  width: 100%;
}

.taskFrameLink:hover {
  cursor: pointer;
  color: #00bee8;
  font-weight: 700;
}

.dropDownMenu,
.subMenuContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2a3647;
  width: 150px;
  border-radius: 20px 0px 20px 20px;
  padding: 10px;
}

.dropDownMenu {
  top: 52px;
  right: 25px;
}

.subMenuContainer {
  top: 135px;
  left: 1250px;
  justify-content: space-evenly;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.dropDownTxt,
.subMenuButtons {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #cdcdcd;
  border: none;
  background-color: transparent;
  padding: 8px 16px;
  cursor: pointer;
}

.dropDownTxt:hover,
.subMenuButtons:hover {
  color: #29abe2;
  background-color: #2a3d59;
}

.footerBox {
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 16px;
  max-width: 1440px;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 56px;
  width: 56px;
  border-radius: 50px;
  padding: 15px 24px 15px 24px;
  border: 1px solid #2a3647;
  border-color: #2a3647;
  border-width: 3px;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  color: #29abe2;
}

.profileBtn:hover {
  background-color: #2a3647;
  color: #ffffff;
  cursor: pointer;
}

.nav-media-container {
  display: none;
}

@media (max-width: 410px) {
  .nav-logo {
    height: clamp(4rem, 4rem, 8rem);
  }
}

.hint-bubble {
  position: relative;
  display: inline-block;
  background: #ffffff;
  color: #ff0000;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.85rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  word-break: break-word;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
  box-sizing: border-box;
  height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hint-bubble.show {
  opacity: 1;
}

.hint-container {
  display: flex;
  position: relative;
}

.validate-border-red:focus {
  outline: none;
  border: 2px solid #ff0000 !important;
}

.validate-border-blue:focus {
  outline: none;
  border: 2px solid #29abe2 !important;
}

input.email:focus,
input.password:focus,
textarea:focus {
  border: 2px solid #29abe2;
}

.rotate-warning {
  display: none;
  position: fixed;
  inset: 0;
  background-color: #000;
  color: #fff;
  z-index: 9999;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.prio-assign-input,
.prio-subtask-input,
.assigned-userlist-modal,
.prio-category-input-modal,
.task-description-input,
.task-title-input,
.task-dateInput,
.prio-assign-input,
.prio-subtask-input,
.assigned-user-list,
.prio-category-input,
.form-input,
input.name,
input.email,
input.password,
input.conf-password textarea,
input,
.stripe {
  border: 2px solid #d1d1d1;
}

input::placeholder,
textarea::placeholder {
  color: #a7a7a7;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: start;
  padding-inline-start: 0px !important;
  padding-inline-end: 0px !important;
  padding-block-end: 0px !important;
  padding-block-start: 0px !important;
  line-height: normal;
}

.board-icon {
  width: 24px;
  height: 24px;
}

.user-checkbox-modal:hover,
.user-checkbox:hover {
  cursor: pointer;
}
